:root{
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    --light-blue-100:#F3F5F6;
    --light-blue-200:#EFF1FA;
    --light-blue-300:#E9ECF8;
    --light-blue-400:#AAB2D5;
    --light-blue-500:#343A40;

    --gray-100:#CED4DA;
    --gray-200:#ADB5BD;
    --gray-300:#868E96;
    --gray-400:#495057;
    --gray-500:#343A40;

    --white:#FFFF;
}  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--light-blue-100);
    font-family:"Inter", sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.principal {
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 80px;
}

.logo {
    padding-left: 20px;
    padding-right: 20px;
}

main {
    padding: 0 2rem;
    display: flex;
    align-items: start;
    flex-direction: column;
}

main textarea {
    width: 680px;
    height: 18.75rem;
    padding: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%;
    background: transparent;
    color: var(--dark-blue-300);
    border: none;
    outline: none;
    resize: none;
    text-align: lowercase;
}

textarea {
    max-width: 600px;
    max-height: 560px;
    background: var(--white);
    border-radius: 2rem;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.80);
}

main textarea::placeholder {
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--dark-blue-300);
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: .75rem;
    padding: 1rem 0;
}

.info img {
    width: 16px;
    height: 16px;
}

.acoes {
    display: flex;
    gap: 24px;
}

aside {
    max-width: 400px;
    max-height: 560px;
    background: var(--white);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
    box-shadow:0px 24px 32px -8px rgba(0, 0, 0, 0.80);
}

aside img {
    width: 336px;
    height: auto;
    padding: 0 2rem;
}

aside h2 {
    font-weight: 700;
    color: var(--gray-500);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 120%;
    padding: 0 2rem;
}

aside p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: var(--gray-400);
    padding: 0 2rem;
}

#copiar {
    margin-bottom: 2rem;
}

#resultado {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--gray-400);
    padding: 0 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.button {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    padding: 24px;
    width: 198px;
    height: 68px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--dark-blue-300);
    color: var(--light-blue-100);
}

.desabilitado {
    background: var(--light-blue-300);
    color: var(--gray-500);
    cursor: not-allowed;
}

.criptografar, .descriptografar {
    background: var(--dark-blue-400);
    color: var(--white);
}

.criptografar:hover {
    background: var(--dark-blue-300);
}

.descriptografar {
    background: var(--light-blue-300);
    color: var(--dark-blue-300);
    border: 1px solid var(--dark-blue-300);
}

.descriptografar:hover{
    background: var(--dark-blue-300);
}

.copiar {
    background: var(--white);
    color: var(--dark-blue-300);
    border: 1px solid var(--dark-blue-300);
    margin: 0 14px;
}

.copiar:hover {
    background: var(--white);
    border: 1px solid var(--dark-blue-300);
    transition: all ease .5s;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.criador {
    font-size: 18px;
    margin-bottom: 5px;
}

.usuario{
    color: #0000;
    font-style: italic;
}

.links {
    width: 48px;
    margin-bottom: -9.5px;
}

@media(max-width:650px) {
    *{
        margin-left: 3px;
    }

    main textarea {
       width: 90%;
    }

    .acoes {
        flex-direction: column;
        gap: 16px;
    }

    aside {
        max-width: 120px;
        max-height: 80vh;
        margin-left: -20px;
        margin-right: 5px;
    }

    aside img {
        width: 0;
    }

    aside p {
        font-size: 11px;
    }

    .button {
        font-size: 10px;
        padding: 0;
        width: 78px;
        height: 28px;
    }

    .button:hover{
        background-color: var(--dark-blue-300);
        color: var(--light-blue-100);
    }

    .acoes {
        flex-direction: row;
    }

    #copiar {
        margin-bottom: 1rem;
    }

    #resultado {
        font-size: 12px;
    }

    .criador {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .links {
        width: 30px;
    }
}

@media(min-width:601px) and (max-width:900px){
    main textarea{
        width: 80%;
    }
}

@media(min-width:901px) {
    main textarea{
        width: 680px;
    }
}

